.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

.App-header {
  background-color: #FFF4DD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #665022;
}


